<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Business Manager</title>

    <script src="app/vendors/js/shim.min.js"></script>
    <script src="app/vendors/js/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script src="app/vendors/js/angular.min.js"></script>
    <script src="app/vendors/js/angular-ui-router.min.js"></script>
    <script src="app/vendors/js/angular-sanitize.min.js"></script>
    <script src="app/vendors/js/angular-filter.min.js"></script>
    <script src="app/vendors/js/angular-utf8-base64.js"></script>
    <script src="app/vendors/js/angular-translate.min.js"></script>
    <script src="app/vendors/js/angular-translate-loader-static-files.min.js"></script>
    <script src="app/vendors/js/select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/vendors/css/select.min.css">
    <script src="app/vendors/js/ui-bootstrap-tpls.js"></script>
    <script src="app/vendors/js/angular-bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/vendors/css/angular-bootstrap-toggle.min.css">
    <link rel="stylesheet" type="text/css" href="app/vendors/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/vendors/css/ladda-themeless.min.css">
    <script src="app/vendors/js/spin.min.js"></script>
    <script src="app/vendors/js/ladda.min.js"></script>
    <script src="app/vendors/js/angular-ladda.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/vendors/css/angular-toastr.min.css">
    <script src="app/vendors/js/angular-toastr.tpls.min.js"></script>
    <script src="app/vendors/js/Chart.min.js"></script>
    <script src="app/vendors/js/angular-chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/vendors/css/angular-busy.min.css">
    <script src="app/vendors/js/angular-busy.min.js"></script>
    <script src="app/vendors/js/ng-lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/assets/css/app-general.min.css">
    <link rel="stylesheet" type="text/css" href="app/assets/css/app-print.min.css" media="print">

    <script>
        System.import('app');
    </script>
</head>
<body>
<business-app>
    Loading...
</business-app>
</body>
</html>