<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th translate="ID"/>
                <th translate="PRODUCT"/>
                <th translate="AMOUNT"/>
                <th translate="NOTES"/>
                <th translate="STATUS"/>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderRow in vm.data">
                <td>{{ $index+1 }}</td>
                <td>{{ orderRow.product.id }}</td>
                <td>{{ orderRow.product.name }}</td>
                <td>{{ orderRow.amount }}</td>
                <td>{{ orderRow.notes.note }}</td>
                <td>
                    <status-view monitor="orderRow" ng-if="vm.isStateDefinition">
                    </status-view>
                    <monitor-status-view monitor="orderRow" ng-if="vm.isStateMonitoring">
                    </monitor-status-view>
                </td>
            </tr>
        </tbody>
    </table>
</div>