<div>
    <div id="divChatBody" class="chat-box-body" ng-show="vm.isChatOpened">
        <div id="divChatRoomHeader" class="chat-room-header">
            <span>
                BManager
            </span>
        </div>
        <chat-rooms>
            <chat-room ng-repeat="room in vm.chatRooms" department="room" is-selected="$first">
            </chat-room>
        </chat-rooms>
        <div id="divChatInput" class="chat-room-input">
            <textarea ng-model="vm.inputMsg" class="form-control" placeholder="..." ng-keypress="vm.onChatInput($event)">
            </textarea>
        </div>
    </div>
    <div id="divChatToggle">
        <button type="button" class="btn btn-default btn-block" ng-click="vm.toggleVisibility()">
            {{ 'CHAT' | translate }}
        </button>
    </div>
</div>