<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success" style="margin-top: 15px;">
                <div class="panel-heading" style="text-align: center;">
                    <h3 class="panel-title">
                        {{ 'MONITOR' | translate }}
                    </h3>
                </div>
                <div class="panel-body">
                    <canvas id="doughnutMonitor" class="chart chart-doughnut"
                            chart-data="vm.dataMonitor" chart-labels="vm.labelsMonitor" chart-colors="vm.colorsMonitor" chart-options="vm.doughnutMonitorOptions">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success" style="margin-top: 15px;">
                <div class="panel-heading" style="text-align: center;">
                    <h3 class="panel-title">
                        {{ 'DELIVERIES' | translate }}
                    </h3>
                </div>
                <div class="panel-body">
                    <canvas id="doughnutSupplies" class="chart chart-doughnut"
                            chart-data="vm.dataDeliveries" chart-labels="vm.labelsDeliveries" chart-colors="vm.colorsDeliveries" chart-options="vm.doughnutDeliveriesOptions">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>