<div class="col-md-6 col-md-offset-3">
    <form name="formLogin" ng-submit="vm.login()" role="form">
        <div class="form-group">
            <input type="text" id="inputUser" name="inputUser" ng-model="vm.username" class="form-control" placeholder="{{ 'USERNAME' | translate}}" required>
        </div>
        <div class="form-group">
            <input type="password" id="inputPass" name="inputPass" ng-model="vm.password" class="form-control" placeholder="{{ 'PASSWORD' | translate}}" required>
        </div>
        <div class="form-group">
            <button type="submit" ladda="vm.isLoginInProcess" data-style="expand-left" data-spinner-size="25"
                    class="btn btn-primary btn-block">
                {{ 'LOGIN' | translate}}
            </button>
        </div>
    </form>
</div>




