<div>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" select="vm.tabSelected(0)">
            <uib-tab-heading>
                {{ 'ORDERS' | translate }}
            </uib-tab-heading>
            <monitor-orders-tab-view tab-index="0">
            </monitor-orders-tab-view>
        </uib-tab>
        <uib-tab index="1" select="vm.tabSelected(1)">
            <uib-tab-heading>
                {{ 'PRODUCTS' | translate }}
            </uib-tab-heading>
            <monitor-products-tab-view tab-index="1">
            </monitor-products-tab-view>
        </uib-tab>
    </uib-tabset>
</div>