<div>
    <div class="row">
        <div class="col-sm-3">
            <button type="button" id="btnAddOrder" class="btn btn-success" ng-click="vm.createOrder()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{ 'ADD_ORDER' | translate}}
            </button>
        </div>
        <div class="col-sm-9">

            <div class="side-panel">
                <div class="side-panel-heading">
                    <span>
                        {{ 'QUICK_ORDER' | translate }}
                    </span>
                </div>
                <div class="side-panel-body">
                    <bm-toggle-btn ng-repeat="product in vm.commonProducts" target="product">
                    </bm-toggle-btn>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" style="margin-top: 15px;">
        <div class="panel-heading" style="text-align: center;">
            <h3 class="panel-title">
                {{ 'ORDERS' | translate }}
            </h3>
        </div>
        <div class="panel-body">
            <form name="formGetOrdersBetweenDates" ng-submit="vm.getOrdersBetweenDates(formGetOrdersBetweenDates.$valid)" novalidate role="form">
                <div class="col-sm-5">
                    <label for="inputFromDate" class="col-sm-4 col-form-label" translate="FROM_DATE">
                    </label>
                    <div class="col-sm-8">
                        <div>
                            <p class="input-group">
                                <input type="text" id="inputFromDate" name="inputFromDate" class="form-control" ng-model="vm.fromDate" ng-required="true"
                                       uib-datepicker-popup="dd/MM/yyyy" is-open="vm.isFromDateOpened" datepicker-options="vm.dateOptions"
                                       current-text="{{ 'TODAY' | translate}}" clear-text="{{ 'CLEAR' | translate}}" close-text="{{ 'CLOSE' | translate}}" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.isFromDateOpened = true">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label for="inputToDate" class="col-sm-4 col-form-label" translate="TO_DATE">
                    </label>
                    <div class="col-sm-8">
                        <div>
                            <p class="input-group">
                                <input type="text" id="inputToDate" name="inputToDate" class="form-control" ng-model="vm.toDate" ng-required="true"
                                       uib-datepicker-popup="dd/MM/yyyy" is-open="vm.isToDateOpened" datepicker-options="vm.dateOptions"
                                       current-text="{{ 'TODAY' | translate}}" clear-text="{{ 'CLEAR' | translate}}" close-text="{{ 'CLOSE' | translate}}" />
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.isToDateOpened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button id="btnShowOrdersBetween" type="submit" class="btn btn-primary btn-block" ladda="vm.isLoadingOrders" data-style="expand-left" data-spinner-size="25">
                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                        {{ 'SHOW' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="row" ng-if="vm.orders.length === 0">
            <div class="strip strip-warning">
            <span>
                {{'NO_ORDERS_BETWEEN_DATES' | translate}}
            </span>
            </div>
        </div>
        <orders-table data="vm.orders" show-filters="true" show-sorting="true" on-row-click="vm.editOrder"
                      sort-property="-orderDate" tbody-style="{'cursor': 'pointer'}"
                      state="'Monitoring'" ng-if="vm.orders.length > 0">
        </orders-table>
    </div>
</div>