<reports-host>
    <report>
        <report-form>
            <report-products-form></report-products-form>
        </report-form>
        <report-body>
            <report-products-result></report-products-result>
        </report-body>
    </report>
    <report>
        <report-form>
            <report-customers-form></report-customers-form>
        </report-form>
        <report-body>
            <report-customers-result></report-customers-result>
        </report-body>
    </report>
    <report>
        <report-form>
            <report-orders-form></report-orders-form>
        </report-form>
        <report-body>
            <report-orders-result></report-orders-result>
        </report-body>
    </report>
</reports-host>
