<div>
    <div class="modal-header" style="text-align: center;">
        <h3 class="modal-title" id="modal-title">
            {{ vm.title }}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="formAddProduct" ng-submit="vm.save(formAddProduct.$valid)" novalidate role="form">
            <div class="form-group row">
                <label for="inputProductId" class="col-sm-2 col-form-label" translate="ID">
                </label>
                <div class="col-sm-10">
                    <input type="text" id="inputProductId" name="inputProductId" class="form-control" ng-value="vm.id" disabled>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error' : formAddProduct.$submitted && formAddProduct.selectCategory.$invalid }">
                <label for="selectCategory" class="col-sm-2 col-form-label" translate="CATEGORY">
                </label>
                <div class="col-sm-10">
                    <ui-select id="selectCategory" name="selectCategory" ng-model="vm.selectedCategory" theme="bootstrap" required>
                        <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in vm.categories | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            <not-found-view value="$select.search" msg="CATEGORY_NO_FOUND"
                                            callback="vm.createCategory($select,$select.search)"
                                            callback-label="ADD_CATEGORY">
                            </not-found-view>
                        </ui-select-no-choice>
                    </ui-select>
                    <p ng-show="formAddProduct.$submitted && formAddProduct.selectCategory.$invalid" class="help-block" translate="MANDATORY_FIELD">
                    </p>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error' : formAddProduct.$submitted && formAddProduct.inputCategoryName.$invalid }">
                <label for="inputCategoryName" class="col-sm-2 col-form-label" translate="NAME">
                </label>
                <div class="col-sm-10">
                    <input type="text" id="inputCategoryName" name="inputCategoryName" ng-model="vm.name" class="form-control" required>
                    <p ng-show="formAddProduct.$submitted && formAddProduct.inputCategoryName.$invalid" class="help-block" translate="MANDATORY_FIELD">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" ladda="vm.isSaveInProcess" data-style="expand-left" data-spinner-size="25">
                    {{ 'SAVE' | translate}}
                </button>
                <button class="btn btn-danger btn-block" type="button" ng-click="vm.cancel()">
                    {{ 'CANCEL' | translate}}
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div uib-alert ng-repeat="alert in vm.alertHelper.alerts" ng-class="'alert-' + alert.type" close="vm.alertHelper.closeAlert($index)">
            {{alert.msg}}
        </div>
    </div>
</div>