<div>
    <div class="modal-header" style="text-align: center;">
        <h3 class="modal-title" id="modal-title">
            {{ vm.title }}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="formAddUser" ng-submit="vm.save(formAddUser.$valid)" novalidate role="form">
            <div class="form-group row">
                <label for="inputUserId" class="col-sm-2 col-form-label" translate="ID">
                </label>
                <div class="col-sm-10">
                    <input type="text" id="inputUserId" name="inputUserId" class="form-control" ng-value="vm.id" disabled>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error' : formAddUser.$submitted && formAddUser.inputUserName.$invalid }">
                <label for="inputUserName" class="col-sm-2 col-form-label" translate="USERNAME">
                </label>
                <div class="col-sm-10">
                    <input type="text" id="inputUserName" name="inputUserName" class="form-control" ng-model="vm.username" required>
                    <p ng-show="formAddUser.$submitted && formAddUser.inputUserName.$invalid" class="help-block" translate="MANDATORY_FIELD">
                    </p>
                </div>
            </div>
            <div class="form-group row" ng-if="vm.isEditMode">
                <label for="toggleEditPassword" class="col-sm-2 col-form-label" translate="CHANGE_PASSWORD">
                </label>
                <div class="col-sm-10">
                    <toggle id="toggleEditPassword" name="toggleEditPassword" ng-model="vm.isEditPassword">
                    </toggle>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error' : formAddUser.$submitted && formAddUser.inputPassword.$invalid }" ng-if="vm.isEditPassword">
                <label for="inputPassword" class="col-sm-2 col-form-label" translate="PASSWORD">
                </label>
                <div class="col-sm-10">
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="vm.password" required>
                    <p ng-show="formAddUser.$submitted && formAddUser.inputPassword.$invalid" class="help-block" translate="MANDATORY_FIELD">
                    </p>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error' : formAddUser.$submitted && formAddUser.inputPasswordConfirm.$invalid }" ng-if="vm.isEditPassword">
                <label for="inputPasswordConfirm" class="col-sm-2 col-form-label" translate="CONFIRM_PASSWORD">
                </label>
                <div class="col-sm-10">
                    <input type="password" id="inputPasswordConfirm" name="inputPasswordConfirm" class="form-control" ng-model="vm.passwordConfirm"
                           confirm-validate="vm.password" required>
                    <p ng-show="formAddUser.$submitted && formAddUser.inputPasswordConfirm.$error && formAddUser.inputPasswordConfirm.$error.confirm" class="help-block" translate="CONFIRM_PASSWORD_ERR">
                    </p>
                </div>
            </div>
            <div class="form-group row">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>
                                {{ 'HOME' | translate}}
                            </th>
                            <th>
                                {{ 'PRODUCTS' | translate}}
                            </th>
                            <th>
                                {{ 'CUSTOMERS' | translate}}
                            </th>
                            <th>
                                {{ 'ORDERS' | translate}}
                            </th>
                            <th>
                                {{ 'MONITOR' | translate}}
                            </th>
                            <th>
                                {{ 'DELIVERIES' | translate}}
                            </th>
                            <th>
                                {{ 'REPORTS' | translate}}
                            </th>
                            <th>
                                {{ 'SYSTEM' | translate}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessHome" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessProducts" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessCustomers" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessOrders" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessMonitor" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessDeliveries" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessReports" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="vm.userAccess.accessSystem" ng-true-value="1" ng-false-value="0">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" ladda="vm.isSaveInProcess" data-style="expand-left" data-spinner-size="25">
                    {{ 'SAVE' | translate}}
                </button>
                <button class="btn btn-danger btn-block" type="button" ng-click="vm.cancel()">
                    {{ 'CANCEL' | translate}}
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div uib-alert ng-repeat="alert in vm.alertHelper.alerts" ng-class="'alert-' + alert.type" close="vm.alertHelper.closeAlert($index)">
            {{alert.msg}}
        </div>
    </div>
</div>