/*******************************
* Language dependency styles - LTR
*******************************/
body {
    direction: ltr;
}

div.alert {
    text-align: left;
}
/*******************************
* BManager Chat
*******************************/
.chat-msg-received {
    margin-left: 20%;
}
/*******************************
********************************
*******************************/
.fixed-top-corner {
    position: fixed;
    top: 15px;
    right: 15px;
}