<div style="text-align: center;">
    <div class="busy-body">
        <div style="padding-top: 5px;">
            <div class="cg-busy-default-spinner" style="top: initial;left: initial;">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
            </div>
        </div>
        <div style="padding-top: 30px;">
            <span>
                {{$message | translate}}
            </span>
        </div>
    </div>
</div>


