<div ng-if="vm.isLoggedIn" style="margin-bottom: 50px;">
    <!-- NAVIGATION -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-inner language-dependency-navbar">
            <div class="navbar-header language-dependency-navbar">
                <a class="navbar-brand">{{ 'HEADER_TITLE' | translate}}</a>
            </div>
                <ul class="nav navbar-nav language-dependency-navbar">
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessHome">
                        <a ui-sref="home">{{ 'HOME' | translate}}</a>
                    </li>
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessProducts">
                        <a ui-sref="products">{{ 'PRODUCTS' | translate}}</a>
                    </li>
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessCustomers">
                        <a ui-sref="customers">{{ 'CUSTOMERS' | translate}}</a>
                    </li>
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessOrders">
                        <a ui-sref="orders">{{ 'ORDERS' | translate}}</a>
                    </li>
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessMonitor">
                        <a ui-sref="monitor">
                            {{ 'MONITOR' | translate}}
                            <bm-badge msg="vm.monitorOrdersCount"></bm-badge>
                        </a>
                    </li>
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessDeliveries">
                        <a ui-sref="deliveries">
                            {{ 'DELIVERIES' | translate}}
                            <bm-badge msg="vm.deliveryOrdersCount"></bm-badge>
                        </a>
                    </li>
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessReports">
                        <a ui-sref="reports">{{ 'REPORTS' | translate}}</a>
                    </li>
                    <li class="nav-item language-dependency-navbar" ui-sref-active="active" restricted-view="accessSystem">
                        <a ui-sref="system">{{ 'SYSTEM' | translate}}</a>
                    </li>
                </ul>
        </div>
    </nav>
    <ui-view></ui-view>
    <chat-box ng-if="vm.isChatModeOn">
    </chat-box>
</div>
