<div>
    <div>
        <button type="button" id="btnAddCategory" class="btn btn-success" ng-click="vm.createCategory()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{ 'ADD_CATEGORY' | translate}}
        </button>
    </div>
    <div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="col-sm-2">
                    </th>
                    <th class="col-sm-2">
                        #
                    </th>
                    <th class="col-sm-2">
                        {{ 'ID' | translate}}
                        <input type="text" ng-model="vm.filterCategory.id" class="form-control">
                    </th>
                    <th class="col-sm-6">
                        {{ 'NAME' | translate}}
                        <input type="text" ng-model="vm.filterCategory.name" class="form-control">
                    </th>
                </tr>
                </thead>
                <tbody style="cursor: pointer;">
                    <tr ng-repeat="category in vm.categories | filter: vm.filterCategory" ng-click="vm.editCategory(category)">
                        <td>
                            <button type="button" class="btn btn-danger"
                                    ng-click="vm.deleteCategoryRequest(category);$event.stopPropagation();"
                                    ladda="vm.isDeleteInProcess[category.id]" data-style="expand-left" data-spinner-size="25">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>{{ $index+1 }}</td>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>